* {
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
    }

    .table{
        margin:5px;
    }

    .title{
        width:800px;
        height:50px;
        border:1px solid black;
    }

    .main{
        width:800px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
    }

    .information{
        width:800px;
        height:140px;
        border:1px solid black;
        border-top:none;
        display:flex;
    }

    .lable{
        border-right: 1px solid black; 
        padding:0px 10px;
    }
    
    .content{
        margin-left:5px;
        display:flex;
        flex-direction:column;
        justify-content: center;
    }

    .picture{
        display:flex;
        align-items:center;
    }

    h1{
        text-align: center;
        line-height: 50px;
    }

    h2{
        font-size: 20px;
        text-align: center;
        line-height: 140px;
    }

    p{
        margin-right: 10px;
    }

    p span{
        font-weight: bold;
        margin-right: 10px;
    }

    img{
        width:25px;
        height:25px;
        margin:0px 5px;
    }
