#hd{
    height:50px;
    background: #666;
    text-align: center;
}

#footer{  
    clear:both; /*记得清楚浮动*/  
    height:50px;     
    background: #666;    
    text-align: center; 
 } 
 
 #middle{
    float:left;
    width:100%;/*左栏上去到第一行*/     
    height:100px;
    background:blue;
}

#left{
    float:left;
    width:180px;
    height:100px;
    margin-left:-100%;
    background:#0c9;
}

#right{
    float:left;
    width:200px;
    height:100px;
    margin-left:-200px;
    background:#0c9;
}

#inside{
    margin:0 200px 0 180px;
    height:100px;
}


#head{
    width:100%;
    height:50px;
    background:wheat;
    text-align: center;
}

#foot{
    width:100%;
    height:50px;
    background:wheat;
    text-align: center;
    clear:both; 
}

#main{
    width:100%;
    height:50px;
}

#you{
    float:left;
    height:50px;
    width:100%;
    background:lightblue;
}

#center{
    float:left;
    height:50px;
    width:200px;
    background:lightgreen; 
    margin-left:-200px;
    position:relative;
} 

#zuo{
    float:left;
    height:50px;
    width:200px;
    background:lightyellow;
    margin-left:-100%;
    position:relative;
} 


